body {
    margin: 0;
    font-family: Arial;
    background: #e5e5e5;
    text-align: center; 
}


header {
    background: #222;
    color: white;
    padding: 15px;
}


nav {
    background: #444;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}


.card {
    display: inline-block;  
    background: white;
    width: 250px;
    border-radius: 10px;

    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;

    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}






footer {
    background: #222;
    color: white;
    padding: 15px;
    margin-top: 40px;
}
